img{

height: 150px; width: 160px;
}
.style {height:50%; width:50%;padding-top:10px;align:center}
header{
background-color: #F4F7F7; padding: 30px;
text-align: center;
}
footer{
background-color: #F4F7F7;

}
ul{
list-style-type: none; margin: 0;
padding: 0;

}
.topnav{
overflow: hidden;
 
background-color: #333; position: relative;
top: 0;
width: 100%;
}
.topnav a { float: left; color: white;
text-align: center; padding: 14px 35px; text-decoration: none; font-size: 17px;
}
.topnav a:hover { background-color: lightpink; color: black;
}
.topnav a.active { background-color: blue; color: white;
}
#tbl1
{
border: 1px solid blue; border-collapse: collapse;
}
.tabl1 tr td{
text-align: center; padding: 5px;
border-collapse: collapse; border: 1px solid blue;
}
.fa1{
float: left;
}
.footer1{
background: #F4F7F7; color: #3F3F3F; height: 400px;
margin-top: 50px;
}
.footer1 .footer-bottom{ background: #343a40; color: #686868; height: 50px;
width: 100%; text-align: center;
position: absolute; bottom: 0px;
left: 0px;
 
padding-top: 20px;
}
.footer1 .footer-content{ border: 1px solid #D0D0D0; height: 400px;
display: flex;
}
.footer1 .footer-content .footer-section{ flex: 1;
padding: 50px;/*
border: 1px solid white;*/
}
.footer1 .footer-content .footer-section .footer-table{ border-bottom: 5px;
font-size: 25px;
border-color: #47B4FF; border-bottom-style:solid; padding: 3px;
width: 200px;
}
.footer1 .footer-content .footer-section .td3{ border-bottom: 1px;
font-size: 15px;
border-bottom-style: solid; width: 100%;
padding-bottom: 10px;
}
.footer1 .footer-content .footer-section .td2{ border-bottom: 1px;
border-bottom-color: black; font-size: 15px;
border-bottom-style: solid; width: 100%;
padding-bottom: 10px; padding-top: 15px;
}
